@import 'mixins.scss';

.audio-container {
	position: relative;
	overflow: auto;
	width: 500px;
	padding: 0;
	background-color: $coolblue;
	border-radius: 5px;
	margin-bottom: 0;
	&.noscroll {
		overflow: hidden;
	}
}

.audio-player {
	padding: 2px 0;
	width: calc(100% - 4px);
	@include flex(flex,row,flex-start,center);
	border-bottom: 1px solid $steelblue;
	height: 30px;
	cursor: pointer;

	&:hover, &.active {
		background-color: white;
	}

	.audio-name {
		font-size: 14pt;
		color: $steelblue;
	}

}

.audio-control {
	font-size: 12pt;
	margin-left: 5px;
	width: 25px;
	color: $steelblue;
}

// .audio-control.pause:before {
// 	content: '\23f8';
// }

.audio-control.play:before {
	content: '\23f5';
}

.audio-overlay {
	position: absolute;
	@include flex(flex,column,center,center);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: $steelblue;
	z-index: 100;

	animation: .5s ease-in-out 0s slideInFromRight;

	&.hidden {
		display: none;
		animation: .5s ease-in-out 0s slideInFromRight;
	}

	.song-image-container {
		width: 225px;
		height: 225px;
		background-color: white;
		border-radius: 50%;
		overflow: hidden;

		.song-image {
			height: 100%;
			object-fit: fill;
			object-position: -50px center;	
		}

	}

	.song-title {
		color: white;
		padding: 10px 0;
		font-size: 16pt;
	}

	.song-close {
		color: $aqua;
		background-color: $iceblue;
		border-radius: 5px;
		padding: 10px 20px;
		border: 1px solid $aqua;
		cursor: pointer;
	}

}

@media screen and (max-width:500px) {

	.audio-container {
		width: 100%;

	}

	.audio-player{
		&:hover {
			background-color: unset;
		}
	}
}




@keyframes slideInFromRight {
	0% { transform: translateX(200vw) }
	100% { transform: translateX(0) }
}

@keyframes slideOutRight {
	100% { transform: translateX(200vw) }
	0% { transform: translateX(0) }
}

