@import 'mixins.scss';


.op-container.tracks {
	.op-text-body {
			background-image: url('/assets/photos/bow.png'), url('/assets/photos/paper.png');
			background-repeat: no-repeat, repeat;
			background-position: bottom left, center;
			background-size: contain, cover;
	}
}

.audio-container {
	margin: 25px;
	@include flex(flex,column,center,center,nowrap,30px);
	position: relative;

	width: 100%;
	&.noscroll {
		overflow: hidden;
	}
}

.audio-player {
	@include flex(flex,row,center,flex-start,nowrap,15px);
	cursor: pointer;
	gap: 5px;

	.audio-name {
		font-size: 16pt;
		color: $blue;
		font-weight: bold;
		line-height: 16pt;
	}

	&:hover, &.active {
		.audio-control.play:before {
			color: $blue;
			background-color: $white;
		}
	}

}

.audio-control {
	font-size: 16pt;
	width: 25px;
	color: $steelblue;
}

// .audio-control.pause:before {
// 	content: '\23f8';
// }

.audio-control.play:before, .audio-control.pause:before {
	@include flex();
	content: '\23f5';
	color: $white;
	background-color: $blue;
	width: 22px;
	height: 20px;
	border-radius: 50%;
	padding-top: 2pt;
}

.audio-control.pause:before {
	content: '▇';
	padding-top: 0;
	font-size: 6pt;
	width: 20px;
	height: 20px;
}

.audio-overlay {
	position: absolute;
	@include flex(flex,column,center,center);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;

	z-index: 100;

	animation: .5s ease-in-out 0s slideInFromRight;

	.audio-inner-container {
		@include flex(flex,column,center,center);
		width: min(350px,100%);
		height: 100%;
		background-color: $blue;
		border-radius: 15px;
	}

	&.hidden {
		display: none;
		animation: .5s ease-in-out 0s slideInFromRight;
	}

	.song-image-container {
		width: 225px;
		height: 225px;
		background-color: $white;
		border-radius: 50%;
		overflow: hidden;
		outline: 1px solid $white;

		.song-image {
			height: 100%;
			object-fit: fill;
			object-position: -50px center;	
		}

	}

	.song-title {
		color: $white;
		padding: 15px;
		font-size: 18pt;
		font-weight: bold;
		text-align: center;
		width: calc(100% - 30px);

	}

	.song-close {
		font-weight: bold;
		color: $white;
		background-color: $blue;
		border-radius: 5px;
		padding: 5px 20px;
		border: 1px solid $white;
		cursor: pointer;
		font-size: 14pt;
		text-transform: uppercase;
	}

}

@media screen and (max-width:500px) {

	.op-container.tracks {
	.op-text-body {
			background-image:  unset;
			max-width:100%;
		}
	}
	.audio-container {
		justify-content: flex-start;
		align-items: flex-start;
		width: 100%;
		gap: 15px;
		height: 400px;
	}

	.audio-player{
		&:hover {
			background-color: unset;
		}
	}
}

@keyframes slideInFromRight {
	0% { transform: translateX(200vw) }
	100% { transform: translateX(0) }
}

@keyframes slideOutRight {
	100% { transform: translateX(200vw) }
	0% { transform: translateX(0) }
}

