@import 'mixins.scss';

.audio-container {
	@include flex(flex,column,center,center);
	position: relative;
	background-image: url('/assets/photos/full_moon.png');
	background-repeat: no-repeat;
	background-position: center;
	height: 300px;
	width: 300px;
	&.noscroll {
		overflow: hidden;
	}
}

.audio-player {
	@include flex(flex,row,center,center);
	cursor: pointer;
	height: 28pt;
	gap: 5px;

	.audio-name {
		font-size: 16pt;
		color: $blue;
		font-weight: bold;
	}

	&:hover, &.active {
		.audio-control.play:before {
			color: $blue;
			background-color: $white;
		}
	}

}

.audio-control {
	font-size: 16pt;
	width: 25px;
	color: $steelblue;
}

// .audio-control.pause:before {
// 	content: '\23f8';
// }

.audio-control.play:before {
	@include flex();
	content: '\23f5';
	color: $white;
	background-color: $blue;
	width: 22px;
	height: 20px;
	border-radius: 50%;
	padding-top: 2pt;
}

.audio-overlay {
	position: absolute;
	@include flex(flex,column,center,center);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: $white;
	z-index: 100;

	animation: .5s ease-in-out 0s slideInFromRight;

	&.hidden {
		display: none;
		animation: .5s ease-in-out 0s slideInFromRight;
	}

	.song-image-container {
		width: 225px;
		height: 225px;
		background-color: white;
		border-radius: 50%;
		overflow: hidden;

		.song-image {
			height: 100%;
			object-fit: fill;
			object-position: -50px center;	
		}

	}

	.song-title {
		color: $blue;
		padding: 10px 0;
		font-size: 18pt;
		font-weight: bold;
	}

	.song-close {
		color: $white;
		background-color: $blue;
		border-radius: 5px;
		padding: 5px 20px;
		border: 1px solid $white;
		cursor: pointer;
		font-size: 14pt;
		text-transform: uppercase;
	}

}

@media screen and (max-width:500px) {

	.audio-container {
		width: 100%;
	}

	.audio-player{
		&:hover {
			background-color: unset;
		}
	}
}

@keyframes slideInFromRight {
	0% { transform: translateX(200vw) }
	100% { transform: translateX(0) }
}

@keyframes slideOutRight {
	100% { transform: translateX(200vw) }
	0% { transform: translateX(0) }
}

