@import 'mixins.scss';

.button-container {
	@include flex(flex,row,center,center,nowrap,20px);
	margin-bottom: 15px;
	.button {
		background-color: $blue;
		border: 1px solid $blue;
		padding: 10px 25px;
		border-radius: 5px;
		color: $yellow;
		font-size: 16pt;
		cursor: pointer;
		text-transform: uppercase;
		font-weight: bold;
		&:hover, &.active {
			background-color: $yellow;
			border: 1px solid $yellow;
			color: $blue;
		}
	}

	&.sub {

		.button {
			background-color: $white;
			border: 1px solid $blue;
			padding: 10px 25px;
			border-radius: 5px;
			color: $blue;
			font-size: 16pt;
			cursor: pointer;
			text-transform: uppercase;
			font-weight: bold;
			&:hover, &.active {
				background-color: $yellow;
				border: 1px solid $yellow;
				color: $blue;
			}


		}


	}

}

@media screen and (max-width:500px) {

	.button-container {
		width: 100%;
		margin-bottom: 5px;
		@include flex($justify:center,$wrap:wrap,$gap:5px);
		margin: 5px 10px 0;
		.button {
			padding: 5px 10px;
			font-size: 12pt;
		}
	}

}