@import 'mixins.scss';

.footer {
	padding-bottom: 50px;
	width: calc(100% - 20px);
	margin: 20px 10px;
	@include flex($dir:column);
	.contact {
		@include flex($dir:column);
		font-size: 20pt;
		color: white;
	}
	.copyright {
		margin-top: 50px;
		color: white;
	}
}

@media screen and (max-width:500px) {
	.footer {
		.contact {
			font-size: 12pt;
			color: white;
		}
		.copyright {
			color: white;
		}
	}
}

.license {
	@include flex(flex,column,center,center);
	position: relative;
	background-image: url('/assets/photos/full_moon.png');
	background-repeat: no-repeat;
	background-position: center;
	height: 300px;
	width: 300px;

	font-size: 22pt;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	line-height: 30pt;

	.date {
		color: $blue;
		font-size: 40pt;
		line-height: 40pt;
	}
}