@import 'mixins.scss';
.header1 {
	&::before {
		content: '';
		width: 100px;
		height: 12px;
		background-color: $yellow;
	}
	width: 100%;
	@include flex($dir:column);
	font-family: $headings;
	font-size: 50pt;
	color: $blue;
	font-style: italic;
	font-weight: bold;
	line-height: 60pt;
}

.header2 {
	@include flex();
	font-size: 20pt;
	font-weight: bold;
	text-transform: uppercase;
	color: $blue;
	line-height: 20pt;
}

