@import 'mixins.scss';
@import 'snowflakes.scss';

a {
	text-decoration: underline;
	&:visited, &:hover, &:link, &:active {
		color: $coolblue;
	}
}

.app-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.op-container {
	@include flex($dir:column);
	overflow: hidden;
	border-radius: 5px;
	width: calc(100% - 10%);
	background-color: $white;
	z-index: 1;
	margin: 15px 5%;

	&.full {
		background-color: transparent;
	}

}

.op-text-body {

	@include flex($dir:column);
	padding: 50px;
	width: 100%;
	max-width: 50%;

	.body {
		display: flex;
		height: auto;
		gap: 3rem;
		position: relative;
		margin-top: 25px;

		.column {
			display: flex;
			flex-direction: column;
			flex:1;
			padding: 10px;
			width: 100%;
			max-width: 100%;
		}
		p {
			font-size: 14pt;
			margin-top: 0;
			margin-bottom: 1em;
			text-align: justify;
		}
	}

	@media screen and (max-width:500px) {
		padding: 5px;

		.body {
			max-width: unset;
		}

	}


}

.op-container.main {
		padding-top: 25px;
}

.op-container.video {
	@include flex();
}

.video-container {
	@include flex();
	width: calc(100% - 20px);
	padding: 10px;
	margin: 0;
	iframe {
		height: 500px;
		width: 895px;
		@media screen and (max-width:1250px) {
			width: 700px;
			height: 392px;
		}
		@media screen and (max-width:500px) {
			width: 300px;
			height: 168px;
		}
	}
}

.controls-container {
	@include flex(flex,column);
	width: 100%;
}

.description {
	max-width: 50%;
	margin: 0 25px;
	padding: 25px 50px;
	color: white;
	font-size: 25pt;
	line-height: 35pt;
	background-color: $steelblue;
	color: $lightblue;
	overflow: auto;
	p {
		font-size: 18pt;
		line-height: 22pt;
		margin-bottom: 10px;
	}
	.headline {
		text-align: center;
		font-size: 24pt;
		line-height: 34pt;
		color: white;
		text-transform: uppercase;
	}
}

.about-container {
	@include flex(flex,column,flex-start,center);
	width: 100%;
	height: 355px;
	color: white;
	font-size:  24pt;
	margin-bottom: 50px;
	.description {
		border: 2px solid $lightblue;
	}
	
}

.video-container {
	width: 100%;
	z-index: 100;
	//animation: 1s ease-in-out 0s slideInFromTop;
}

@media screen and (max-width:1024px) {

		.about-container .description {
			max-width: 100%;
			p {
				font-size: 24pt;
				line-height: 32pt;
			}
		}

		.op-text-body {
			max-width: 75%;
		}
}

@media screen and (max-width:500px) {

	.op-container {
		@flex($align-items center);
		//width: 95%;
	}

	.op-container.controls {
		margin: 0;
		padding: 0;
		width: 95%;
	}

	.op-text-body {
		max-width: 90%;
	}

	.quote, .attr {
		padding: 50px 10vw 30px;
		width: calc(100% - 20vw);
		font-size: 18pt;
	}

	.attr {
		padding: 0 10vw 50px;
		text-align: center;
		font-size: 14pt;
	}
	.photo-container, .about-container {
		width: 90%;
		margin-bottom: 25px;
	}

	.video-container {
		width: 90%;
	}

	.about-container {

		.description {
			height: 100%;
			padding: 20px; 
			margin: 0; 
			font-size: 12pt;
			line-height: 18pt;

				.headline {
					text-align: center;
					font-size: 15pt;
					line-height: 22pt;
					color: white;
					text-transform: uppercase;
				}

				p {
					font-size: 14pt;
					line-height: 20pt;
				}

		}
		
	}

}

