@import './mixins.scss';


.app-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;

  .logo-container {
  	@include flex();
  	height: 100vh;
  	max-height: 100vh;
  	min-height: 100vh;
  	width: 100%;

	  img.expand-img {
	    animation: 1s ease-in-out 0s slideInFromBottom;
	    height: 100%;
	    max-height: 100%;
	  }

  }

}

.credits {
	padding: 50px;
	@include flex($dir:column);
	width: 100%;
	color: white;
	.authors {
		width: calc(100% - 30%);
		padding: 50px 15% 0;
	  @include flex($justify:space-between);

	  .au-cont {
	  	@include flex($dir:column);

	  	.super-title {
	  		font-size: 14pt;
	  		text-transform: uppercase;
	  	}

	  	.author {
	  		font-size: 24pt;
	  	}

	 
	  }

	}

	.ack {
		width: 50%;
		padding: 100px 0;
		text-align: center;
		font-size: 18pt;
		line-height: 30pt;

	}
	
}


@keyframes slideInFromBottom {
	0% { transform: translateY(-100vw) }
	100% { transform: translateY(0) }
}