@import './mixins.scss';

.snowflake {
  color: #fff;
  font-size: 1em;
  font-family: Arial, sans-serif;
  text-shadow: 0 0 5px #000;
}

.snowflake,.snowflake .inner{
	animation-iteration-count:infinite;
	animation-play-state:running
}

@keyframes snowflakes-fall{
	0%{transform:translateY(0)};
	100%{transform:translateY(110vh)};
}

@keyframes snowflakes-shake{
		0%,100%{transform:translateX(0)}
		50%{transform:translateX(80px)}
}

.snowflake{
	position:fixed;
	top:-10%;
	z-index:9999;
	-webkit-user-select:none;
	user-select:none;
	cursor:default;pointer-events:none;animation-name:snowflakes-shake;animation-duration:3s;animation-timing-function:ease-in-out}.snowflake .inner{animation-duration:10s;animation-name:snowflakes-fall;animation-timing-function:linear}.snowflake:nth-of-type(0){left:1%;animation-delay:0s}.snowflake:nth-of-type(0) .inner{animation-delay:0s}.snowflake:first-of-type{left:10%;animation-delay:1s}.snowflake:first-of-type .inner,.snowflake:nth-of-type(8) .inner{animation-delay:1s}.snowflake:nth-of-type(2){left:20%;animation-delay:.5s}.snowflake:nth-of-type(2) .inner,.snowflake:nth-of-type(6) .inner{animation-delay:6s}.snowflake:nth-of-type(3){left:30%;animation-delay:2s}.snowflake:nth-of-type(11) .inner,.snowflake:nth-of-type(3) .inner{animation-delay:4s}.snowflake:nth-of-type(4){left:40%;animation-delay:2s}.snowflake:nth-of-type(10) .inner,.snowflake:nth-of-type(4) .inner{animation-delay:2s}.snowflake:nth-of-type(5){left:50%;animation-delay:3s}.snowflake:nth-of-type(5) .inner{animation-delay:8s}.snowflake:nth-of-type(6){left:60%;animation-delay:2s}.snowflake:nth-of-type(7){left:70%;animation-delay:1s}.snowflake:nth-of-type(7) .inner{animation-delay:2.5s}.snowflake:nth-of-type(8){left:80%;animation-delay:0s}.snowflake:nth-of-type(9){left:90%;animation-delay:1.5s}.snowflake:nth-of-type(9) .inner{animation-delay:3s}.snowflake:nth-of-type(10){left:25%;animation-delay:0s}.snowflake:nth-of-type(11){left:65%;animation-delay:2.5s}



.app-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;

  .logo-container {
  	position: relative;
	  	@include flex();
  	height: 100vh;
  	max-height: 100vh;
  	min-height: 100vh;
  	width: 100%;

	  img.expand-img {
	    animation: 1s ease-in-out 0s slideInFromTop;
	    height: 100%;
	    max-height: 100%;
	  }

		.credits {
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: 100;
			@include flex($dir:column);
			width: 100%;
			color: white;
			.authors {
				width: calc(100% - 15%);
				padding: 0 8% 0 5%;
			  @include flex($justify:space-between);

			  .au-cont {
			  	&.left {
			  		animation: 1.5s ease-in-out 0s slideInFromLeft;
			  	}

			  	&.right{
			  		animation: 1.5s ease-in-out 0s slideInFromRight;
			  	}

			  	position: relative;
			  	@include flex($dir:column);
			  	.super-title {
			  		text-align: center;
			  		width: 100%;
			  		font-size: 20pt;
			  		text-transform: uppercase;
			  	}
			  	.author {
			  		text-align: center;
			  		width: 100%;
			  		font-size: 32pt;
			  	}

			  }

			}
		}
  }
}


@media screen and (max-width:1024px) {

	.app-main {
		.logo-container {
			@include flex($dir:column);
	  	width: 100vw;
	  	max-height: 100vw;
	  	min-height: 100vw;
	  	height: unset;
	  	min-height: unset;
	  	max-height: unset;

	  	img.expand-img {
		    width: 100%;
		    max-width: 100%;
		    min-width: 100%;
		    height: 100%;
		    max-height: 100%;
		    min-height: 100%;
		  }

		  .credits {
		  	position: relative;
		  	.authors {
		  		padding-top: 50px;
		  	}

		  }

			.credits .authors .au-cont {
			  	&.left {
			  		animation: 1.5s ease-in-out 0s slideInFromLeft;
			  	}

			  	&.right{
			  		animation: 1.5s ease-in-out 0s slideInFromRight;
			  	}

			  	position: relative;
			  	@include flex($dir:column);
			  	.super-title {
			  		font-size: 14pt;
			  		text-transform: uppercase;
			  	}
			  	.author {
			  		font-size: 24pt;
			  	}
			  }
		}

		.ack {
			width: 90%;
			font-size: 18pt;
			line-height: 25pt;
		}

	}
}

@media screen and (max-width:500px) {

	.app-main .logo-container img.expand-img {
		height: 35vh;
		width: unset;
		object-fit: cover;

	}

	.app-main .logo-container .credits .authors {
		padding: 0;
		@include flex($dir:column);
		.au-cont {
			padding-top: 25px;
			.super-title {
				font-size: 15pt;
			}
			.author {
				font-size: 20pt;
			}
		}
	}

	.ack {
		padding-top: 100px;
		font-size: 15pt;
		line-height: 20pt;
	}

}

.ack {
	position: relative;
	color: white;
	width: 75%;
	padding: 50px 0;
	text-align: center;
	font-size: 24pt;
	line-height: 42pt;
	animation: 1.5s ease-in-out 0s slideInFromBottom;
}

@keyframes slideInFromLeft {
	0% { transform: translateX(-100vw) }
	100% { transform: translateX(0) }
}

@keyframes slideInFromRight {
	0% { transform: translateX(200vw) }
	100% { transform: translateX(0) }
}

@keyframes slideInFromBottom {
	0% { transform: translateY(200vh) }
	100% { transform: translateY(0) }
}

@keyframes slideInFromTop {
	0% { transform: translateY(-100vh) }
	100% { transform: translateY(0) }
}