@import './mixins';

.photo-container{
	width: calc(100% - 10%);
	margin: 0 5% 50px;
	@include flex(flex,row,center,flex-start,wrap,30px);
}

.photo {
	box-shadow: 3px 3px 3px gray;
	margin: 10px 0;
	background-color: white;
	padding: 20px;
	img {
		width: 600px;
	}
	.caption {
		font-family: "Indie Flower";
		color: $blue;
		text-align: center;
		height: 20px;
		font-size: 14pt;
	}

}

.photo-inline {
	position: relative;
	@include flex();
	max-width: 100%;
	margin-bottom: 25px;
	img {
		position: relative;
		width: 100%;
		object-fit: contain;
		object-position: 25%ß;
	}
}

@media screen and (max-width:500px) {

	.photo-container{
		width: calc(100% - 20px);
		margin: 0 10px 15px;
		@include flex(flex,row,center,flex-start,wrap,0);
	}

	.photo {
		box-shadow: 3px 3px 3px gray;
		margin: 10px 0;
		background-color: white;
		padding: 20px;
		img {
			width: 95%;
		}


	}


}