@import './mixins';

.photo-container{
	width: calc(100% - 10%);
	margin: 0 5% 50px;
	@include flex(flex,row,center,flex-start,wrap,30px);
}

.photo {
	box-shadow: 3px 3px 3px gray;
	margin: 10px 0;
	background-color: white;
	padding: 20px;
	img {
		width: 325px;
	}
	.caption {
		font-family: "Indie Flower";
		color: $steelblue;
		text-align: center;
		height: 20px;
		font-size: 14pt; 
		line-height: 50px;
	}

}

.photo-inline {
	@include flex();
	max-width: 100%;
	img {
		width: 100%;
		object-fit: contain;
	}
}

@media screen and (max-width:500px) {

	.photo-container{
		width: calc(100% - 20px);
		margin: 0 10px 15px;
		@include flex(flex,row,center,flex-start,wrap,0);
	}

	.photo {
		box-shadow: 3px 3px 3px gray;
		margin: 10px 0;
		background-color: white;
		padding: 20px;
		img {
			width: 95%;
		}
		.caption {
			font-family: "Indie Flower";
			color: $steelblue;
			text-align: center;
			height: 20px;
			font-size: 14pt; 
			line-height: 50px;
		}

	}


}