@import 'mixins.scss';
.text-quote {
	position: relative;
	width: 90%;
	border: 2px solid $blue;
	border-radius: 25px;
	padding: 30px;
	margin: 20px 0;
	font-size: 18pt;
	text-align: justify;
	break-inside: avoid;

	&::before, &::after {
	 	position: absolute;
	 	background-color: $white;
	 	color: $blue;
		font-size: 65pt;
		font-weight: 800;
		line-height: 40pt;
	}

	&::before {
		content: '\201c';
		top: -10px;
		left: 0;
	}

	&::after {
		content: '\201d';
		color: $blue;
		bottom: -35px;
		right: 0;
	}

	.quote {
		font-weight: 600;
		color: $blue;

	}

	.attr {
		@include flex();
		font-size: 14pt;
		line-height: 20pt;
		color: $blue;
		text-transform: uppercase;
		font-weight: bold;
	}

	&.dark {
		background-color: $blue;
		&>* {
		 color: $lightblue;
		}
		.quote {
			border-top: 2px solid $iceblue;
			padding-top: 25px;
		}
		.attr {
			border-bottom: 2px solid $iceblue;
			padding-bottom: 25px;
		}

		&::before, &::after {
		 	background-color: $blue;
		 	color: $iceblue;
		}

		&::before {
			top: 10px;
			left: 20pt;
			line-height: 40pt;
		}

		&::after {
			bottom: 0;
			right: 20pt;
			line-height: 40pt;
		}

	}


	@media screen and (max-width:500px) {
		padding: 0;
		text-align: center;
		width: 100%;



		.quote {
			padding: 10px;
			margin-top: 30px;
			width: 100%;
			width: calc(100% - 20px);
		}


		&.dark {
			margin-top: 0;
			width: 95%;
			padding: 35px 5px;
			&:after, &:before {
				line-height: 25pt;
			}
			&:before {
				top: 40px;
			}
			.quote {
			  padding: 20px 10px;
			  width: calc(100% - 30px);
			  margin-top: 15px
			}
			
		}
	}

}